form input,Controller{
    padding: 10px 10px;
    margin: 5px 0px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid gray;
    outline: none;
}

.card{
    border-top-right-radius:13px ;
    border-top-left-radius: 13px;
    width: 250px;
    height: 380px;
    margin: 0 auto;
}
